*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(rgba(2,3,38,0.67),rgba(4,6,42,0.97));
  height: 100vh;
  background-size: cover;
  color:white;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.holder{
  display: flex;
  justify-content: space-evenly;
}
.user-table{
  width: 500px;
 float: right;
}
#empty{
  font-size: 20px; 
  text-align: center;
}
.edit{
  margin-right: 15px;
}
button{
  outline: none;
}
.update{
  margin: 10px;
}
